$background-color: #ebebeb;

$default-text-color: #252626;

$default-selection-color: #ccebff;

$logo-color: #0089d9;

$nav-link-hover-color: #0089d9;
$nav-link-active-color: #0089d9;
$nav-link-icon-color: #0089d9;
$nav-mobile-expand-icon-color: #0089d9;
$nav-mobile-link-active-color: #fff;
$nav-mobile-link-active-bg-color: #0089d9;
$nav-mobile-link-hover-color: #fff;
$nav-mobile-link-hover-bg-color: #0089d9;
$nav-mobile-link-icon-hover-color: #fff;


$component-bg-color: #fff;
$component-shadow-color: #e0e0e0;

